# Creating Machine Learning Aspect of Raman Noodles

This is a developer notebook for our **unsupervised** Machine Learning code. 

Good blog post about *supervised* vs *unsupervised* machine learning: https://towardsdatascience.com/supervised-vs-unsupervised-learning-14f68e32ea8d

## Creating Ideal Test / Train Data Sets

Besides the teaching provided from the DIRECT program where you can find information on the course on their open source GitHub page: (https://github.com/UWDIRECT) there are a ton of online resources for creating the dataset. One useful one we found to suplement our education was: https://www.dataquest.io/blog/sci-kit-learn-tutorial/

In [2]:
#importing modules
import os
import h5py
import pandas as pd
import matplotlib.pyplot as plt
import math
import numpy as np
import lineid_plot
from ramandecompy import spectrafit
from ramandecompy import peakidentify
from ramandecompy import dataprep

In [52]:
pwd

'/Users/elizabeth/Desktop/raman-spectra-decomp-analysis/ramandecompy/tests/test_files'

In [56]:
os.chdir('/Users/elizabeth/Desktop/raman-spectra-decomp-analysis/ramandecompy/tests/test_files/')
#opening data set
df = pd.read_excel('CalibrationSpectraCombined.xlsx')

In [57]:
df.head()

,Wavelength,Hydrogen,Sapphire,CarbonDioxide,CarbonMonoxide,FormicAcid,Water,Acetaldehyde,Ethane,Methane,Propane
0,250.340000,0.989673,0.133289,-3.627004,0.000056,0.464568,0.105923,0.289834,0.015515,0.004215,4.663420e-07
1,253.348869,1.041293,0.137142,-0.359460,0.000056,0.468204,0.106086,0.291902,0.015636,0.004224,4.709134e-07
2,256.357738,1.097466,0.141168,0.000000,0.000056,0.471888,0.106249,0.293995,0.015759,0.004234,4.755524e-07
3,259.366607,1.158758,0.145375,-17.592200,0.000056,0.475621,0.106413,0.296114,0.015883,0.004243,4.802603e-07
4,262.375475,1.225830,0.149777,-8.518800,0.000056,0.479404,0.106577,0.298259,0.016009,0.004253,4.850384e-07

In [58]:
wavelength = pd.DataFrame(df.Wavelength)
wavelength.head()

   Wavelength
0  250.340000
1  253.348869
2  256.357738
3  259.366607
4  262.375475

In [59]:
type(wavelength)

pandas.core.frame.DataFrame

In [60]:
wavelength_true = wavelength.transpose()

In [61]:
type(wavelength_true)

pandas.core.frame.DataFrame

In [62]:
wavelength_true.head()

,0,1,2,3,4,5,6,7,8,9,...,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940
Wavelength,250.34,253.348869,256.357738,259.366607,262.375475,265.384344,268.393213,271.402082,274.410951,277.41982,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
acetaldehyde = pd.DataFrame(df.Acetaldehyde)
ethane = pd.DataFrame(df.Ethane)
methane = pd.DataFrame(df.Methane)
propane = pd.DataFrame(df.Propane)
hydrogen = pd.DataFrame(df.Hydrogen)
sapphire = pd.DataFrame(df.Sapphire)
carbondioxide = pd.DataFrame(df.CarbonDioxide)
carbonmonoxide = pd.DataFrame(df.CarbonMonoxide)
formicacid = pd.DataFrame(df.FormicAcid)
water = pd.DataFrame(df.Water)

In [64]:
acetaldehyde_true = acetaldehyde.transpose()
ethane_true = ethane.transpose()
methane_true = methane.transpose()
propane_true = propane.transpose()
hydrogen_true = hydrogen.transpose()
sapphire_true = sapphire.transpose()
carbondioxide_true = carbondioxide.transpose()
carbonmonoxide_true = carbonmonoxide.transpose()
formicacid_true = formicacid.transpose()
water_true = water.transpose()

In [65]:
water_true.head()

,0,1,2,3,4,5,6,7,8,9,...,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940
Water,0.105923,0.106086,0.106249,0.106413,0.106577,0.106741,0.106906,0.107071,0.107236,0.107402,...,139.075348,135.507809,132.011296,128.587314,125.237155,121.961903,119.114168,115.982647,112.928042,109.95068

In [85]:
df_true = wavelength_true.append(acetaldehyde_true)
df_true

,0,1,2,3,4,5,6,7,8,9,...,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940
Wavelength,250.340000,253.348869,256.357738,259.366607,262.375475,265.384344,268.393213,271.402082,274.410951,277.419820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acetaldehyde,0.289834,0.291902,0.293995,0.296114,0.298259,0.300430,0.302628,0.304853,0.307106,0.309388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
df_true = df_true.append(ethane_true)
df_true

,0,1,2,3,4,5,6,7,8,9,...,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940
Wavelength,250.340000,253.348869,256.357738,259.366607,262.375475,265.384344,268.393213,271.402082,274.410951,277.419820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acetaldehyde,0.289834,0.291902,0.293995,0.296114,0.298259,0.300430,0.302628,0.304853,0.307106,0.309388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethane,0.015515,0.015636,0.015759,0.015883,0.016009,0.016136,0.016265,0.016395,0.016527,0.016661,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethane,0.015515,0.015636,0.015759,0.015883,0.016009,0.016136,0.016265,0.016395,0.016527,0.016661,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethane,0.015515,0.015636,0.015759,0.015883,0.016009,0.016136,0.016265,0.016395,0.016527,0.016661,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethane,0.015515,0.015636,0.015759,0.015883,0.016009,0.016136,0.016265,0.016395,0.016527,0.016661,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
df_true = df_true.drop(index = 'Ethane')

In [93]:
df_true

,0,1,2,3,4,5,6,7,8,9,...,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940
Wavelength,250.340000,253.348869,256.357738,259.366607,262.375475,265.384344,268.393213,271.402082,274.410951,277.419820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acetaldehyde,0.289834,0.291902,0.293995,0.296114,0.298259,0.300430,0.302628,0.304853,0.307106,0.309388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
df_true = df_true.append(ethane_true)
df_true = df_true.append(methane_true)
df_true = df_true.append(propane_true)
df_true = df_true.append(hydrogen_true)
df_true = df_true.append(sapphire_true)
df_true = df_true.append(carbondioxide_true)
df_true = df_true.append(carbondioxide_true)
df_true = df_true.append(carbonmonoxide_true)
df_true = df_true.append(formicacid_true)
df_true = df_true.append(water_true)

In [95]:
df_true

,0,1,2,3,4,5,6,7,8,9,...,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940
Wavelength,2.503400e+02,2.533489e+02,2.563577e+02,2.593666e+02,2.623755e+02,2.653843e+02,2.683932e+02,2.714021e+02,2.744110e+02,2.774198e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acetaldehyde,2.898335e-01,2.919019e-01,2.939953e-01,2.961142e-01,2.982589e-01,3.004301e-01,3.026281e-01,3.048534e-01,3.071065e-01,3.093879e-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethane,1.551512e-02,1.563631e-02,1.575897e-02,1.588313e-02,1.600881e-02,1.613603e-02,1.626482e-02,1.639521e-02,1.652722e-02,1.666088e-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Methane,4.214517e-03,4.224051e-03,4.233618e-03,4.243218e-03,4.252850e-03,4.262515e-03,4.272214e-03,4.281945e-03,4.291709e-03,4.301507e-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Propane,4.663420e-07,4.709134e-07,4.755524e-07,4.802603e-07,4.850384e-07,4.898882e-07,4.948111e-07,4.998086e-07,5.048822e-07,5.100334e-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hydrogen,9.896730e-01,1.041293e+00,1.097466e+00,1.158758e+00,1.225830e+00,1.299453e+00,1.380532e+00,1.470133e+00,1.569526e+00,1.680221e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sapphire,1.332891e-01,1.371424e-01,1.411675e-01,1.453752e-01,1.497766e-01,1.543631e-01,1.591891e-01,1.642490e-01,1.695340e-01,1.751086e-01,...,0.000426,0.000425,0.000425,0.000425,0.000425,0.000424,0.000424,0.000424,0.000424,0.000423
CarbonDioxide,-3.627004e+00,-3.594600e-01,0.000000e+00,-1.759220e+01,-8.518800e+00,-1.177166e+00,-6.208544e+00,-1.485060e+01,-9.843800e-01,-4.867428e+00,...,2.735978,1.089952,0.723678,0.509889,-0.494340,6.030660,-0.892950,6.891420,2.005810,-1.387602
CarbonDioxide,-3.627004e+00,-3.594600e-01,0.000000e+00,-1.759220e+01,-8.518800e+00,-1.177166e+00,-6.208544e+00,-1.485060e+01,-9.843800e-01,-4.867428e+00,...,2.735978,1.089952,0.723678,0.509889,-0.494340,6.030660,-0.892950,6.891420,2.005810,-1.387602
CarbonMonoxide,5.572879e-05,5.590662e-05,5.608530e-05,5.626484e-05,5.644524e-05,5.662651e-05,5.680866e-05,5.699169e-05,5.717560e-05,5.736040e-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FormicAcid,4.645677e-01,4.682041e-01,4.718883e-01,4.756213e-01,4.794039e-01,4.832197e-01,4.871042e-01,4.910413e-01,4.950138e-01,4.990587e-01,...,0.366122,0.364274,0.362442,0.360625,0.358824,0.357038,0.355463,0.353704,0.351961,0.350232
Water,1.059225e-01,1.060856e-01,1.062490e-01,1.064129e-01,1.065771e-01,1.067409e-01,1.069059e-01,1.070712e-01,1.072362e-01,1.074023e-01,...,139.075348,135.507809,132.011296,128.587314,125.237155,121.961903,119.114168,115.982647,112.928042,109.950680

### Pull out the wavelength values from data frame in order to set them as column values
Code reference: https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.values.html

In [99]:
wavelength_array = wavelength_true.values
print(wavelength_array)

[[250.34       253.34886887 256.35773774 ...          nan          nan
           nan]]

In [100]:
type(wavelength_array)

numpy.ndarray

In [104]:
wavelength_array[0]

array([250.34      , 253.34886887, 256.35773774, ...,          nan,
                nan,          nan])

In [105]:
wavelen_true = wavelength_array[0]

In [106]:
wavelen_true

array([250.34      , 253.34886887, 256.35773774, ...,          nan,
                nan,          nan])

In [107]:
df_true_final = pd.DataFrame(data = df_true, columns = wavelen_true)

In [108]:
df_true_final

,250.34,253.34886886886886,256.35773773773775,259.3666066066066,262.37547547547547,265.38434434434436,268.3932132132132,271.4020820820821,274.41095095095096,277.41981981981985,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
Wavelength,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acetaldehyde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Methane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Propane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hydrogen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sapphire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CarbonDioxide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CarbonDioxide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CarbonMonoxide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FormicAcid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Water,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
df_true

,0,1,2,3,4,5,6,7,8,9,...,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940
Wavelength,2.503400e+02,2.533489e+02,2.563577e+02,2.593666e+02,2.623755e+02,2.653843e+02,2.683932e+02,2.714021e+02,2.744110e+02,2.774198e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acetaldehyde,2.898335e-01,2.919019e-01,2.939953e-01,2.961142e-01,2.982589e-01,3.004301e-01,3.026281e-01,3.048534e-01,3.071065e-01,3.093879e-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethane,1.551512e-02,1.563631e-02,1.575897e-02,1.588313e-02,1.600881e-02,1.613603e-02,1.626482e-02,1.639521e-02,1.652722e-02,1.666088e-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Methane,4.214517e-03,4.224051e-03,4.233618e-03,4.243218e-03,4.252850e-03,4.262515e-03,4.272214e-03,4.281945e-03,4.291709e-03,4.301507e-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Propane,4.663420e-07,4.709134e-07,4.755524e-07,4.802603e-07,4.850384e-07,4.898882e-07,4.948111e-07,4.998086e-07,5.048822e-07,5.100334e-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hydrogen,9.896730e-01,1.041293e+00,1.097466e+00,1.158758e+00,1.225830e+00,1.299453e+00,1.380532e+00,1.470133e+00,1.569526e+00,1.680221e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sapphire,1.332891e-01,1.371424e-01,1.411675e-01,1.453752e-01,1.497766e-01,1.543631e-01,1.591891e-01,1.642490e-01,1.695340e-01,1.751086e-01,...,0.000426,0.000425,0.000425,0.000425,0.000425,0.000424,0.000424,0.000424,0.000424,0.000423
CarbonDioxide,-3.627004e+00,-3.594600e-01,0.000000e+00,-1.759220e+01,-8.518800e+00,-1.177166e+00,-6.208544e+00,-1.485060e+01,-9.843800e-01,-4.867428e+00,...,2.735978,1.089952,0.723678,0.509889,-0.494340,6.030660,-0.892950,6.891420,2.005810,-1.387602
CarbonDioxide,-3.627004e+00,-3.594600e-01,0.000000e+00,-1.759220e+01,-8.518800e+00,-1.177166e+00,-6.208544e+00,-1.485060e+01,-9.843800e-01,-4.867428e+00,...,2.735978,1.089952,0.723678,0.509889,-0.494340,6.030660,-0.892950,6.891420,2.005810,-1.387602
CarbonMonoxide,5.572879e-05,5.590662e-05,5.608530e-05,5.626484e-05,5.644524e-05,5.662651e-05,5.680866e-05,5.699169e-05,5.717560e-05,5.736040e-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FormicAcid,4.645677e-01,4.682041e-01,4.718883e-01,4.756213e-01,4.794039e-01,4.832197e-01,4.871042e-01,4.910413e-01,4.950138e-01,4.990587e-01,...,0.366122,0.364274,0.362442,0.360625,0.358824,0.357038,0.355463,0.353704,0.351961,0.350232
Water,1.059225e-01,1.060856e-01,1.062490e-01,1.064129e-01,1.065771e-01,1.067409e-01,1.069059e-01,1.070712e-01,1.072362e-01,1.074023e-01,...,139.075348,135.507809,132.011296,128.587314,125.237155,121.961903,119.114168,115.982647,112.928042,109.950680

In [113]:
df_1 = pd.DataFrame(df_true, columns = wavelen_true)
df_1.head()

,250.34,253.34886886886886,256.35773773773775,259.3666066066066,262.37547547547547,265.38434434434436,268.3932132132132,271.4020820820821,274.41095095095096,277.41981981981985,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
Wavelength,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acetaldehyde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Methane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Propane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
test = pd.DataFrame(data = water_true, columns = wavelen_true)

In [125]:
test.iloc[0].head()

250.340000   NaN
253.348869   NaN
256.357738   NaN
259.366607   NaN
262.375475   NaN
Name: Water, dtype: float64

In [126]:
test.iloc[0,0]

nan

In [127]:
type(test.iloc[0,0])

numpy.float64

In [128]:
type(water_true)

pandas.core.frame.DataFrame

In [129]:
water_true

,0,1,2,3,4,5,6,7,8,9,...,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940
Water,0.105923,0.106086,0.106249,0.106413,0.106577,0.106741,0.106906,0.107071,0.107236,0.107402,...,139.075348,135.507809,132.011296,128.587314,125.237155,121.961903,119.114168,115.982647,112.928042,109.95068

In [134]:
water_true.iloc[0].head()

0    0.105923
1    0.106086
2    0.106249
3    0.106413
4    0.106577
Name: Water, dtype: float64

In [148]:
test1 = pd.DataFrame(data = water_true.iloc[0], columns = wavelen_true)
test1

Empty DataFrame
Columns: [250.34, 253.34886886886886, 256.35773773773775, 259.3666066066066, 262.37547547547547, 265.38434434434436, 268.3932132132132, 271.4020820820821, 274.41095095095096, 277.41981981981985, 280.4286886886887, 283.43755755755757, 286.4464264264264, 289.4552952952953, 292.4641641641642, 295.47303303303306, 298.4819019019019, 301.4907707707708, 304.49963963963967, 307.5085085085085, 310.5173773773774, 313.5262462462462, 316.5351151151151, 319.543983983984, 322.5528528528528, 325.5617217217217, 328.5705905905906, 331.57945945945943, 334.5883283283283, 337.5971971971972, 340.6060660660661, 343.6149349349349, 346.6238038038038, 349.6326726726727, 352.6415415415415, 355.6504104104104, 358.6592792792793, 361.66814814814813, 364.677017017017, 367.6858858858859, 370.69475475475474, 373.7036236236236, 376.71249249249246, 379.72136136136135, 382.73023023023023, 385.7390990990991, 388.74796796796795, 391.7568368368368, 394.76570570570567, 397.77457457457456, 400.7834434434434, 403.79231231231233, 406.80118118118116, 409.81005005005005, 412.8189189189189, 415.82778778778777, 418.8366566566566, 421.84552552552555, 424.8543943943944, 427.86326326326326, 430.87213213213215, 433.881001001001, 436.8898698698698, 439.89873873873876, 442.9076076076076, 445.9164764764764, 448.92534534534536, 451.9342142142142, 454.9430830830831, 457.9519519519519, 460.9608208208208, 463.96968968968963, 466.9785585585586, 469.9874274274274, 472.9962962962963, 476.0051651651652, 479.014034034034, 482.02290290290284, 485.0317717717718, 488.0406406406406, 491.0495095095095, 494.0583783783784, 497.0672472472472, 500.07611611611605, 503.08498498498494, 506.09385385385383, 509.10272272272266, 512.1115915915916, 515.1204604604604, 518.1293293293293, 521.1381981981982, 524.147067067067, 527.155935935936, 530.1648048048048, 533.1736736736736, 536.1825425425425, 539.1914114114113, 542.2002802802803, 545.2091491491491, 548.218018018018, ...]
Index: []

[0 rows x 1941 columns]

In [145]:
water_data = water_true.values
water_data[0]

array([1.05922506e-01, 1.06085577e-01, 1.06249025e-01, ...,
       1.15982647e+02, 1.12928042e+02, 1.09950680e+02])

In [153]:
w = water_data[0]
print(type(w), type(water_data[0]))

<class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [155]:
wavelength1 = pd.DataFrame(df.Wavelength, columns = wavelen_true)
wavelength1.head()

Empty DataFrame
Columns: [250.34, 253.34886886886886, 256.35773773773775, 259.3666066066066, 262.37547547547547, 265.38434434434436, 268.3932132132132, 271.4020820820821, 274.41095095095096, 277.41981981981985, 280.4286886886887, 283.43755755755757, 286.4464264264264, 289.4552952952953, 292.4641641641642, 295.47303303303306, 298.4819019019019, 301.4907707707708, 304.49963963963967, 307.5085085085085, 310.5173773773774, 313.5262462462462, 316.5351151151151, 319.543983983984, 322.5528528528528, 325.5617217217217, 328.5705905905906, 331.57945945945943, 334.5883283283283, 337.5971971971972, 340.6060660660661, 343.6149349349349, 346.6238038038038, 349.6326726726727, 352.6415415415415, 355.6504104104104, 358.6592792792793, 361.66814814814813, 364.677017017017, 367.6858858858859, 370.69475475475474, 373.7036236236236, 376.71249249249246, 379.72136136136135, 382.73023023023023, 385.7390990990991, 388.74796796796795, 391.7568368368368, 394.76570570570567, 397.77457457457456, 400.7834434434434, 403.79231231231233, 406.80118118118116, 409.81005005005005, 412.8189189189189, 415.82778778778777, 418.8366566566566, 421.84552552552555, 424.8543943943944, 427.86326326326326, 430.87213213213215, 433.881001001001, 436.8898698698698, 439.89873873873876, 442.9076076076076, 445.9164764764764, 448.92534534534536, 451.9342142142142, 454.9430830830831, 457.9519519519519, 460.9608208208208, 463.96968968968963, 466.9785585585586, 469.9874274274274, 472.9962962962963, 476.0051651651652, 479.014034034034, 482.02290290290284, 485.0317717717718, 488.0406406406406, 491.0495095095095, 494.0583783783784, 497.0672472472472, 500.07611611611605, 503.08498498498494, 506.09385385385383, 509.10272272272266, 512.1115915915916, 515.1204604604604, 518.1293293293293, 521.1381981981982, 524.147067067067, 527.155935935936, 530.1648048048048, 533.1736736736736, 536.1825425425425, 539.1914114114113, 542.2002802802803, 545.2091491491491, 548.218018018018, ...]
Index: []

[0 rows x 1941 columns]